.mainbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.darkMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.main h2{
    font-size: 2rem;
    font-weight: bolder;
    color: #f7c578;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Roboto', sans-serif;
}
.darkMain h2{
    font-size: 2rem;
    font-weight: bolder;
    color: #757f9b;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Roboto', sans-serif;
}
.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.darkInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.input textarea{
    width: 800px;
    height: 350px;
    border: 5px solid #353533;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #353533;
    box-shadow: 0 0 10px #353533;
    margin-bottom: 2rem;
    background-color: white;
}
.darkInput textarea{
    width: 800px;
    height: 350px;
    border: 5px solid #a2aabe;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    color: #a2aabe;
    box-shadow: 0 0 10px #a2aabe;
    margin-bottom: 2rem;
    background-color: #4d536d;
}
.input textarea:focus{
    outline: none;
}
.darkInput textarea:focus{
    outline: none;
}
.input button{
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    background-color: #353533;
    color: #f7c578;
    box-shadow: 0 0 10px #353533;
    cursor: pointer;
    transition: 0.5s;
}
.darkInput button{
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    background-color: #3c3f4e;
    color: #757f9b;
    box-shadow: 0 0 10px #3c3f4e;
    cursor: pointer;
    transition: 0.5s;
}
.input button:hover{
    background-color: #50504d;
    color: #f7bc63;
}
.darkInput button:hover{
    background-color: #757f9b;
    color: #c8cdd9;
}
@media screen and (max-width: 1130px){

    .input textarea{
        width: 600px;
        height: 250px;
        font-size: 1rem;
    }
    .input button{
        width: auto;
        font-size: 1rem;
    }
}
@media screen and (max-width: 950px){
    .main h2{
        font-size: 1.8rem;
    }
    .input textarea{
        width: 500px;
        height: 200px;
        font-size: 1rem;
    }
    .input button{
        width: auto;
        font-size: 1rem;
    }
  
}
@media screen and (max-width: 750px){
    .main h2{
        font-size: 1.5rem;
    }
    .input textarea{
        width: 500px;
        height: 200px;
        font-size: 0.9rem;
    }
    .input button{
        width: auto;
        font-size: 0.9rem;
    }

}
    

    
@media screen and (max-width: 550px){
    .main h2{
        font-size: 1.3rem;
    }
    .input textarea{
        width: 300px;
        height: 150px;
        font-size: 0.8rem;
    }

}
    
@media screen and (max-width: 350px){
    .main h2{
        font-size: 1rem;
    }
    .input textarea{
        width: 200px;
        height: 90px;
        font-size: 0.6rem;
    }
    
}